@{
   ViewData["Title"] = "Jeff Roach";
}

<div class="text-center">
   <h1 class="display-4">@ViewData["Title"]</h1>
   <p>Hello, World! I'm learning JavaScript</p>
</div>

@section Scripts{ 
   <script src="~/js/homeIndex.js"></script>
}
